@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

header{
    img{
        width: 6em;
    }
}
header {
    padding: 20px;
    justify-content: space-between;
    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li{
            padding: 10px 15px;
            a{
                text-decoration: none;
                color: black;
                border-bottom: 5px solid transparent;
            &:hover {
                color: $primary;
                border-bottom: 5px solid $primary;
                }

                }
            }
        }

    }
